body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-left a {
  margin-right: 10px;
}

.navbar-right a {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
.category-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(8, auto); /* 8 rows */
  gap: 10px;
  max-width: 600px; /* Adjust as necessary */
  margin: auto; /* Center the grid */
}

.category-button {
  display: inline-block;
  padding: 40px 80px; /* Increased size */
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 1.25em; /* Increased font size */
}

.category-button:hover {
  background-color: #0056b3;
}

form div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input[type="text"], input[type="number"], input[type="date"] {
  padding: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}